*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html, body{
    overflow-x: hidden;
    
}
body{
    background-color:#F9F9FB;
    font-family: 'Noto Sans TC', sans-serif;
    margin: 0px;
    padding: 0px;

}
.header{
    background-color: #363636;
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 10;
    
}
#slidebarmenu{
    height: 100%;
    width: 270px;
    left: 0;
    top: 0;
    position: fixed;
    margin-top: 50px;
    background-color: #363636;
    transform: translateX(-270px);
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;
}
#openslidebar:checked ~ #slidebarmenu{
    transform: translateX(0px);
}

ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
ul li{
    color: #F9F9FB;
    border-bottom: 1px solid  #F9F9FB ;
    border-top: 1px solid rgb(3, 3, 3);
}
ul li a{
    text-decoration: none;
    color: #F9F9FB;
    display: block;
    padding: 20px;
}

.slidebar{
    width: 20px;
    height: 20px;
    position: fixed;
    z-index: 20;
    top: 15px;
    left: 30px;
    cursor: pointer;
    
}
.spiner{
    height: 3px;
    background-color: #F9F9FB;
    transition: all 0.3s;
}

.spiner.middle, .spiner.bottom{
    margin-top: 3px;
}

#openslidebar:checked ~ .slidebar > .spiner.middle{
    opacity: 0;
}
#openslidebar:checked ~ .slidebar > .spiner.top{
    transform: rotate(135deg);
    margin-top: 8px;
}
#openslidebar:checked ~ .slidebar > .spiner.bottom{
    transform: rotate(-135deg);
    margin-top: -9px;
}

.header h1{
    text-align: center;
    z-index: 30;
    font-size: 25px;
    color: #F9F9FB;
    display: inline-block;
    margin-left: 45%;
    padding-top: 5px;
    letter-spacing: 4px;
    
}
.social-icon{
    display: inline-flex;
    margin-left: 88%;
}


.social-icon a{
    color: #F9F9FB;    
    margin-left: 8px;
    z-index: 40;
    cursor: pointer;
    font-size: 30px;
    
    
}

/*-----------------content----------------------------------*/
.content{
    clear: both;
    width: 100%;
    display: inline-flex;
   
}

.content .left-colum{
    background-color: white;
    width: 70%;
    height: 250px;
    margin-top: 50px ;
    margin-left: 40px;
    margin-bottom: 20px;
    
    
    
}
.content .left-colum .map iframe{
    border: none;
    float: left;
}
.content .left-colum .map .map-detail{
    float: left;
}
.content .left-colum .map .map-detail h1{
    font-size: 20px;
    margin-top: 30px;
    margin-left: 30px;
}
.content .left-colum .map .map-detail #map-text{
    font-size: 12px;
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 40px;
}
.content .left-colum .map .map-detail p{
    font-size: 10px;
    color: #585858;
    margin-left: 30px;
}
.content .contact-form {
    float: left;
    margin-top: 40px;
    
}
.content .contact-form #name{
    height: 40px;
    width: 450px;
    background-color: white;
    border: none;
    border-radius: 5px;

}
.content .contact-form #email{
    height: 40px;
    width: 450px;
    background-color: white;
    border: none;
    border-radius: 5px;
    margin-left: 5px ;
}
.content .contact-form #web{
    height: 40px;
    width: 910px;
    background-color: white;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}   
.content .contact-form #messege{
    height: 150px;
    width: 910px;
    background-color: white;
    border: 1px solid #afadad;
    border-radius: 5px;
    margin-top: 20px;
}  
.content .contact-form #btn{
    background-color: #363636;
    border: 1px solid #afadad;
    border-radius: 5px;
    color: #F9F9FB;
    margin-top: 20px;
    padding: 12px 25px;
} 








.content .right-colum{
    width: 25%;
    background-color: white;
    position: relative;
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 40px;
    border-radius: 5px;
}
.content .right-colum .searchbar .text{
    background-color: #F9F9FB;
    color: #363636;
    height: 40px;
    width: 220px;
    border: none;
    margin-top: 40px;
    margin-left: 30px;
    border-radius: 5px;
    
}
.content .right-colum .searchbar .btn{
    background-color: #363636;
    color: #F9F9FB;
    border: none;
    height: 40px;
    width: 40px;
    cursor: pointer;
    border-radius: 5px;
}

.sidebar-image{
    clear: both;
    background-image: url('gym1.jpg');
    width: 265px;
    height: 265px;
    margin: 40px 30px;
}
.content .right-colum  .post-title{
    margin: 40px 30px;
    border-bottom: 1px solid #c7c7c7;
    padding-bottom: 30px;
}
.content .right-colum  .post-title h1{
    text-align: center;
    font-size: 20px;
}
.content .right-colum .post{

    display: flex;
    margin: 15px 30px;

}
.content .right-colum .post img{
    padding-top: 5px;
}
.content .right-colum .post .post-header h1{
    font-size: 15px;
    padding-left: 8px;
}
.content .right-colum .post .post-header p{
    font-size: 12px;
    padding-left: 8px;

}


/*--------------foooter------------------------------*/


.footer{
    clear: both;
    background-color: #363636;
    height: 300px;
    width: 100%;
    position: relative;
    margin-top: 325px;
    display: inline-flex;
    
       
}
.about-section{
    margin-top: 40px;
    margin-left: 40px;
}
.about-section h1{
    color: #F9F9FB;
    font-size: 18px;
    padding-bottom: 20px;
}
.about-section p{
    color: #F9F9FB;
    font-size: 12px;   
}
.about-section img{
    border: 0px solid #F9F9FB;
    opacity: 0.5;

       
}
.news-section{
    margin-top: 40px;
    margin-left: 40px;
}
.news-section h1{
    color: #F9F9FB;
    font-size: 18px;
    padding-bottom: 20px;
}
.news-section iframe{
    width: 300px;
    height: 150px;
    border: 1px solid #F9F9FB;
    opacity: 0.5;

}
.socialmedia-section{
    margin-top: 40px;
    margin-left: 40px;
}
.socialmedia-section h1{
    color: #F9F9FB;
    font-size: 18px;
    padding-bottom: 20px;
}
.socialmedia-section iframe{
    width: 250spx;
    height: 150px;
    border: 1px solid #F9F9FB;
    opacity: 0.5;

}
.comment-section{
    margin-top: 40px;
    margin-left: 40px;
    
}
.comment-section h1{
    color: #F9F9FB;
    font-size: 18px;
    padding-bottom: 20px;
}
.comment-section iframe{
    width: 250spx;
    height: 150px;
    border: 1px solid #F9F9FB;
    opacity: 0.5;
    
}



