*{
    
    box-sizing: border-box;
}
.row{
    
    
}
.col-1{
    background-color: plum;
    height: 10vh;
    border-right: 5px solid rgb(255, 251, 251);
  
    
}
.col-6{
    background-color: red;
    border-right: 5px solid rgb(255, 255, 255);
    height: 10vh;

}
.col-4{
    background-color: black;
    border-right: 5px solid white;
    height: 10vh;


}
.col-3{
    background-color: blue;
    border-right: 5px solid rgb(255, 255, 255);
    height: 10vh;

}
.col-2{
    background-color: chartreuse;
    border-right: 5px solid rgb(255, 255, 255);
    height: 10vh;

}
.col-9{
    background-color: rgb(0, 133, 71);
    height: 10vh;
    border-right: 5px solid rgb(255, 255, 255);
  
    
}